@font-face {
    font-family: "Roboto";
    src: url(/assets/font/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Roboto";
    src: url(/assets/font/Roboto-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: "Roboto";
    src: url(/assets/font/Roboto-Italic.ttf);
    font-style: italic;
}

@font-face {
    font-family: "Roboto";
    src: url(/assets/font/Roboto-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
}