.project-poster-grid {
    display: grid;
    gap: 32px;
    grid-template-columns: auto auto auto;
}

.project-poster-wrapper {
    aspect-ratio: 2 / 3;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    transition: box-shadow 0.3s;
    display: block;
}

.project-poster-wrapper:hover {
    box-shadow: 0px 2px 6px 6px #00000044;
}

.project-poster {
    cursor: pointer;
    text-decoration: none;
    color: #444444;
    flex-direction: column;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    aspect-ratio: 2 / 3;
}

.project-poster-titled {
    min-width: 0;
    min-height: 0;
    display: flex;
    padding: 16px;
    background-image: url(/assets/title-only-poster.png);
    background-size: cover;
    background-position: center;
    background-color: #888888;
    background-blend-mode: multiply;
    color: white;
}

.project-poster-title-only {
    min-width: 0;
    min-height: 0;
    display: flex;
    padding: 16px;
    background-image: url(/assets/title-only-poster.png);
    background-size: cover;
    background-position: center;
    color: #333333;
}

.project-poster > .project-poster-title,.project-poster > .project-poster-author {
    transition: opacity 0.3s;
}

.project-poster:hover > .project-poster-title,.project-poster:hover > .project-poster-author {
    opacity: 0;
}

.project-poster-title {
    margin: auto;
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.025em;
    text-align: center;
    text-transform: uppercase;
    height: auto;
}

.project-poster-author {
    margin: auto;
    margin-top: 0px;
    font-size: 16px;
    text-align: center;
}

.project-poster-overlay {
    position: absolute;
    opacity: 0;
    background: #00000088;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s, transform 0.3s;
    color: white;
    transform: translateY(100%);
}

.project-poster:hover .project-poster-overlay {
    opacity: 1;
    transform: translateY(0%);
}

.column-layout {
    display: flex;
}

.padded-bottom {
    padding-bottom: 32px;
}

.margin-bottom {
    margin-bottom: 32px;
}

.column-side {
    flex: 1;
}

.column-center {
    flex: 4;
    word-wrap: break-word;
    width: 66.6666666667%;
}

@media (max-width: 800px) {
    .column-side {
        flex: 0;
        margin-right: 32px;
    }

    .column-center {
        flex: unset;
        word-wrap: break-word;
        width: calc(100% - 64px);
    }

    .header {
        padding-left: 32px !important;
        padding-right: 32px !important;
    }
}

body {
    color: #444444;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    margin: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.world-map {
    width: 100%;
    background: #90b199;
    border-radius: 8px;
    box-shadow: 0px 3px 3px 3px #00000044;
}


.plain-link {
    color: #444444;
    text-decoration: underline;
    transition: color 0.1s;
    cursor: pointer;
}

.plain-link:hover {
    color: #666666;
}

.home-header {
    background: #b7ccbd;
    display: flex;
    flex-direction: column;
    padding: 64px;
}

.home-header-icon {
    height: 128px;
    margin: auto;
    margin-bottom: 32px;
}