.navigation-bar {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background: #2d2d2d;
    color: #bbbbbb;
    padding: 16px 0px;
    display: flex;
    transition: box-shadow 0.3s;
    z-index: 1;
}

.navigation-bar-shadowed {
    box-shadow: 0px 0px 5px #00000033;
}

.navigation-margin {
    height: 50.5px;
}

.navigation-link {
    margin-left: 32px;
    color: #bbbbbb;
    text-decoration: none;
    letter-spacing: 0.01em;
    transition: color 0.3s;
    border-bottom: 2px solid transparent;
    margin-bottom: -2px;
}

.navigation-link:hover {
    color: #dddddd;
}

.navigation-link.navigation-link-selected {
    color: #dddddd;
    border-bottom-color: #dddddd;
}

.navigation-title {
    color: #bbbbbb;
    letter-spacing: 0.025em;
    text-decoration: none;
    font-weight: bold;
    margin-right: auto;
}