.styled-text-bold {
    font-weight: bold;
}

.styled-text-italic {
    font-style: italic;
}

.rich-text-link {
    color: #444444;
    text-decoration: none;
    border-bottom: 1px solid #444444;
    transition: color 0.1s;
}

.rich-text-link:hover {
    color: #666666;
}