.styled-text-bold {
    font-weight: bold;
}

.styled-text-italic {
    font-style: italic;
}

.rich-text-link {
    color: #444444;
    text-decoration: underline;
    transition: color 0.1s;
}

.rich-text-link:hover {
    color: #666666;
}

.rich-text-blockquote {
    border-left: 4px solid #e8e8e8;
    padding: 16px;
    margin: 16px 0px;
    color: #666666;
    background: #f8f8f8;
}