.row-section {
    display: flex;
}

.row-item {
    margin: 0px 16px;
}

.row-item:first-child {
    margin-left: 0px;
}

.row-item:last-child {
    margin-right: 0px;
}

.row-item-flex {
    flex: 1;
}